/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html, body, [class*="css"]{
    font-family: 'Poppins', sans-serif;
}

/* Main App Background */
.stApp{
    background: linear-gradient(135deg,#0F172A,#1E3A8A,#2563EB);
    background-attachment: fixed;
}

/* Main Title */
.main-title{
    text-align:center;
    font-size:48px;
    font-weight:700;
    color:white;
    margin-bottom:10px;
}

/* Cards */
.card{
    background:rgba(255,255,255,0.12);
    backdrop-filter:blur(15px);
    border-radius:20px;
    padding:20px;
    border:1px solid rgba(255,255,255,0.2);
    box-shadow:0 8px 30px rgba(0,0,0,.3);
}

/* Buttons */
.stButton>button{
    width:100%;
    border-radius:12px;
    border:none;
    background:#2563EB;
    color:white;
    font-weight:bold;
    padding:12px;
    transition:0.3s;
}

.stButton>button:hover{
    background:#1D4ED8;
    transform:scale(1.03);
}

/* Text Input */
.stTextInput input{
    border-radius:12px;
}

/* File Uploader */
[data-testid="stFileUploader"]{
    background:rgba(255,255,255,0.08);
    border-radius:15px;
    padding:15px;
}

/* Metric Cards */
[data-testid="metric-container"]{
    background:rgba(255,255,255,0.10);
    border-radius:18px;
    padding:20px;
    border:1px solid rgba(255,255,255,0.2);
}

/* Sidebar */
section[data-testid="stSidebar"]{
    background:#111827;
}

section[data-testid="stSidebar"] *{
    color:white;
}
